<layout name="layout"/>
<!-- content start -->
<div class="admin-content container">

    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active">
            <a href="__URL__/index">进行中
                <span class="badge"><{$count}></span>
            </a>
        </li>
        <li role="presentation">
            <a href="__URL__/mine">我负责
                <span class="badge"><{$mine}></span>
            </a>
        </li>
        <li role="presentation" >
            <a href="__URL__/history">历史迭代</a>
        </li>
    </ul>

    <table class="am-table am-table-striped am-table-hover table-main">
        <tbody>
        <volist name='arr' id='pro' empty="没有数据">
            <tr>
                <td width=70%>
                    <a href="__APP__/<{$Think.config.PRODUCT}>/Risk/index/proid/<{$pro.id}>">
                        <small>【<{$pro.end}>】<span class="badge"><{$pro.status|getProst=###}></span>【<{$pro.qd|getZTUserName=###}>】<{$pro.name}></small>
                    </a>
                </td>
                <td width=30%>
                    <div class="btn-group am-btn-group-sm" role="group" aria-label="...">
                        <a href="__APP__/<{$Think.config.PRODUCT}>/Index/func/proid/<{$pro.id}>" class="btn btn-success btn-xs">
                            功能点 <span class="badge"> <{$pro.id|countFuncRangeId='tp_func_range','project',###}></span>
                        </a>
                        <a href="__APP__/<{$Think.config.PRODUCT}>/Index/range/proid/<{$pro.id}>" class="btn btn-info btn-xs">
                            范围 <span class="badge"> <{$pro.id|countId='tp_func_range','project',###}></span>
                        </a>
                        <a href="__APP__/<{$Think.config.PRODUCT}>/Index/musttest/proid/<{$pro.id}>/copy/<{$pro.id}>" class="btn am-btn-danger btn-xs">
                            必测点 <span class="badge" ><{$pro.id|countId='tp_scene','project',###}></span>
                        </a>
                        <a href="__APP__/<{$Think.config.PRODUCT}>/Risk/index/proid/<{$pro.id}>" class="btn btn-warning btn-xs">
                            风险 <span class="badge"> <{$pro.id|countId='tp_risk','proid',###}></span>
                        </a>
                    </div>

                </td>
            </tr>
        </volist>
        </tbody>
    </table>

</div>
<!-- content end -->


  