<layout name="layout"/>
<!-- content start -->
<div class="admin-content">
    <div class="panel panel-default">
        <div class="panel-heading">我的测试任务（必测点）</div>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                           <small><{$pro|getProname=###}></small>
                            <span class="badge"><{$pro|countMyProjectScene=###}></span>
                        </h3>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-condensed ">
                        <tr>

                            <th align="left" bgcolor="#ccc">
                                <span class="label label-danger">级别</span>
                                <span class="label label-default">角色</span>
                                <span class="label label-primary">节点</span>
                                场景<span class="badge">功能数</span>
                                <span class="label label-warning pull-right">状态</span>
                            </th>
                        </tr>
                        <volist name='data' id='st' >
                            <switch name="st.result">
                                <case value="1"><tr class="success"></case>
                                <case value="2"><tr class="danger"></case>
                                <case value="3"><tr class="warning"></case>
                                <case value="4"><tr class="default"></case>
                                <default/>
                                <tr class="info">
                            </switch>
                            <td>
                                <a href="__URL__/run_my_test/myScene/<{$st.id}>/project/<{$st.project}>"><{$st.scene|getSceneInfo=###}></a>
                                <switch name="st.result">
                                    <case value="1"><span class="label label-success pull-right"></case>
                                    <case value="2"><span class="label label-danger pull-right"></case>
                                    <case value="3"><span class="label label-warning pull-right"></case>
                                    <case value="4"><span class="label label-default pull-right"></case>
                                    <default/><span class="label label-info pull-right">
                                </switch>
                                <{$st.result|getSceneResult=###}>
                                </span>
                            </td>
                            </tr>
                        </volist>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><small>选择迭代</small></h3></div>
                    <ul class="list-group">
                        <volist name='project' id='p'>
                            <switch name="p">
                                <case value="$pro">
                                    <li class="list-group-item list-group-item-warning">
                                </case>
                                <default/>
                                <li class="list-group-item ">
                            </switch>
                            <a href="__URL__/my_must_test/project/<{$p}>"><small><{$p|getProname=###}></small></a>
                            <span class="badge"><{$p|countMyProjectScene=###}></span>
                            </li>
                        </volist>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>