<layout name="layout"/>
<div class="admin-content">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" >
            <a href="__URL__/index">手机管理<span class="badge"><{$arr.id}></span></a>
        </li>
        <li role="presentation" class="active">
            <a href="__URL__/books">图书管理<span class="badge"><{$arr.id}></span></a>
        </li>
        <li role="presentation" >
            <a href="__URL__/yuding">今日预订<span class="badge"><{$arr.id}></span></a>
        </li>
        <li role="presentation">
            <a href="__URL__/guihuan">已借出<span class="badge"><{$arr.id}></span></a>
        </li>
    </ul>

    <div class="am-g">
        <div class="am-u-md-7 ">
            <div class="navbar-brand" >我管理的图书</div>
        </div>
        <div class="am-u-md-5 ">
            <form action="__URL__/books " method="post" class="navbar-form navbar-left" role="search">
                <div class="form-group input-group pull-right">
                    <input type="text" class="form-control" name="search" value="<{$search}>" placeholder="分类、书名、关键字">
                    <span class="input-group-btn">
                         <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"> 查询</span></button>
                          <a class="btn btn-success" href="__URL__/add/type/3/source/books/search/<{$search}>"><span class="glyphicon glyphicon-plus"> 添加</span></a>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <volist name='data' id='da' empty="没有数据">
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <empty name="da.img">
                        <img src="__IMG__/moren.jpg" alt="__IMG__/moren.jpg">
                        <else />
                        <img src="__UPLOAD__/<{$da.path}>/<{$da.img}>" alt="<{$da.path}>/<{$da.img}>">
                    </empty>

                    <div class="caption">
                        <h3 title="<{$da.remark}>"><small><{$da.brand}>-<{$da.ts}></small></h3>
                        <p><small> &nbsp;&nbsp;出版社：<{$da.sys_version}></small></p>
                        <p>
                            <small>
                                <switch name="da.loaning">
                                    <case value="1">【<{$da.borrower|getZTUserName=###}>】</case>
                                    <default />【<{$da.manager|getZTUserName=###}>】
                                </switch>
                            </small>
                            <span class="label label-info pull-right">
                                <a href="__URL__/yuding/yuding/device/<{$da.id}>">
                                    今预约：<{$da.id|count_yd=###,$riqi}>
                                </a>
                            </span>
                        </p>
                        <p>
                            <a href="__URL__/mod/id/<{$da.id}>/source/books/search/<{$search}>" class="btn btn-primary btn-sm" role="button">编辑</a>
                            <switch name="da.loaning">
                                <case value="0">
                                    <a href="__URL__/loan/device/<{$da.id}>/source/books/search/<{$search}>" class="btn btn-success btn-sm" role="button">借出</a>
                                </case>
                                <case value="1">
                                    <a href="__URL__/hui_shou/id/<{$da.id}>" class="btn btn-danger btn-sm" role="button"
                                       onclick="return confirm('你确定已经把<{$da.brand}>-<{$da.ts}><{$da.name}>收回了吗？')">收回</a>
                                </case>
                                <default /><a href="#" class="btn btn-warning btn-sm" role="button">收回</a>
                            </switch>
                            <a href="__URL__/img/id/<{$da.id}>/source/books/search/<{$search}>" class="btn btn-default btn-sm" role="button">更换图片</a>
                        </p>
                    </div>
                </div>
            </div>
        </volist>
    </div>


</div>