<layout name="layout"/>
<div class="admin-content">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="__APP__/<{$Think.config.PRODUCT}>/Manager/<{$source}>/search/<{$search}>">设备&图书管理</a></strong> /
                        <small>编辑</small>
                    </h3>
                </div>
                <div class="panel-body">
                    <form action="__URL__/update" method="post" class="form-horizontal" role="form">
                        <input type="hidden" name="id" value="<{$arr.id}>"/>
                        <input type="hidden" name="url" value="<{$url}>"/>
                        <input type="hidden" name="table" value="tp_device"/>
                        <switch name="source">
                            <case value="index">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-4 control-label">品牌:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"  name="brand" value="<{$arr.brand}>" placeholder="品牌，如：苹果、小米、华为">
                                    </div>
                                </div>
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-4 control-label">规格:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"  name="ts" value="<{$arr.ts}>" placeholder="规格，如：iPhone 6S（金色）">
                                    </div>
                                </div>
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-4 control-label">版本:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"  name="sys_version" value="<{$arr.sys_version}>" placeholder="系统版本，如：IOS11.3">
                                    </div>
                                </div>
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-4 control-label">序列号:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"  name="serial" value="<{$arr.serial}>" placeholder="序列号，设备的唯一标识">
                                    </div>
                                </div>
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-4 control-label">资产编号:</label>
                                    <div class="col-sm-8 form-group-lg">
                                        <input type="text" class="form-control"  name="asset_no" value="<{$arr.asset_no}>" placeholder="资产编号，没有可不填">
                                    </div>
                                </div>
                            </case>
                            <case value="books">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">分类:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"  name="brand" value="<{$arr.brand}>" placeholder="分类，如：JAVA，测试、架构、服务器">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">书名:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"  name="ts" value="<{$arr.ts}>" placeholder="书名">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">出版社:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"  name="sys_version" value="<{$arr.sys_version}>" placeholder="出版社">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">作者:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"  name="name" value="<{$arr.name}>" placeholder="作者">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">所有者:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"  name="owner" value="<{$arr.owner}>" placeholder="所有者">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">条码号:</label>
                                    <div class="col-sm-8 ">
                                        <input type="text" class="form-control"  name="serial" value="<{$arr.serial}>" placeholder="条码号">
                                    </div>
                                </div>
                            </case>
                            <default />default
                        </switch>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">管理员:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  name="manager" value="<{$arr.manager}>" placeholder="请使用禅道登陆名，如：yaolihui">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">备注:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  name="remark" value="<{$arr.remark}>" placeholder="备注">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10"></div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-5">
                                <button type="submit" class="btn btn-info btn-block btn-lg">提 交</button>
                            </div>
                            <div class="col-sm-5">
                                <a href="__APP__/<{$Think.config.PRODUCT}>/Manager/<{$source}>/search/<{$search}>" type="button" class="btn btn-warning btn-block btn-lg">返 回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-5">


        </div>

    </div>

</div>