<layout name="layout"/>
<div class="admin-content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <{$arr.brand}>-<{$arr.ts}><{$arr.name}>(<{$arr.sys_version}>)
                【管理员：<{$arr.manager|getZTUserName=###}>】
                <notempty name="arr.borrower">
                    【最后借用人：<{$arr.borrower|getZTUserName=###}>】
                </notempty>
                <a class="btn  btn-primary btn-xs pull-right" href="__URL__/<{$source}>/search/<{$search}>">返回</a>
            </h3>
        </div>
        <div class="jumbotron">
                <div class="row">
                    <div class="col-xs-4 col-md-3">
                        <empty name="arr.img">
                            <img src="__IMG__/moren.jpg" alt="__IMG__/moren.jpg">
                            <else />
                            <img src="__UPLOAD__/<{$arr.path}>/<{$arr.img}>" alt="<{$arr.path}>/<{$arr.img}>">
                        </empty>
                    </div>
                    <div class="col-xs-8 col-md-9">
                        <switch name="source">
                            <case value="index">
                                <p><small>序列号：<{$arr.serial}></small></p>
                            </case>
                            <case value="books">
                                <p><small>作者：<{$arr.name}></small></p>
                            </case>
                            <default />default
                        </switch>

                        <p>
                            <small>
                                所有者：<{$arr.owner}>
                                <notempty name="arr.asset_no">
                                    &nbsp;   资产编号：<{$arr.asset_no}>
                                </notempty>
                            </small>
                        </p>
                        <p><small>备注：<{$arr.remark}></small></p>

                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">借用中
                        <span class="badge pull-right">预计归还时间</span>
                    </div>
                    <ul class="list-group">
                        <empty name="data0">
                            <li class="list-group-item"><small>当前，没有借用中的设备</small></li>
                            <else />
                            <volist name='data0' id='st'>
                                <li class="list-group-item">
                                    <span class="label label-default"><{$st.borrower|getZTUserName=###}></span>
                                    <small>
                                        <{$st.device|getName='tp_device',###,'brand'}>-
                                        <{$st.device|getName='tp_device',###,'ts'}><{$st.device|getName='tp_device',###,'name'}>
                                        (<{$st.device|getName='tp_device',###,'sys_version'}>)<br>
                                        用途：<{$st.remark}>
                                    </small>
                                    <span class="badge"><{$st.end_time}></span>
                                </li>
                            </volist>
                        </empty>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">预订<span class="label label-default">借用时间</span></div>
                    <ul class="list-group">
                        <empty name="data1">
                            <li class="list-group-item"><small>当前，没有预订中的设备</small></li>
                            <else />
                            <volist name='data1' id='st'>

                                <switch name="st.reject">
                                    <case value="1">
                                        <li class="list-group-item list-group-item-warning">
                                            <span class="label label-warning">取消</span>
                                    </case>
                                    <case value="2">
                                        <li class="list-group-item list-group-item-danger">
                                            <span class="label label-danger">驳回</span>
                                    </case>
                                    <default />
                                    <li class="list-group-item">
                                        <span class="label label-info">正常</span>
                                </switch>
                                <span class="label label-default"><{$st.borrower|getZTUserName=###}></span>
                                <span class="label label-default"><{$st.start_time}></span>
                                <small>
                                    <{$st.device|getName='tp_device',###,'brand'}>-
                                    <{$st.device|getName='tp_device',###,'ts'}><{$st.device|getName='tp_device',###,'name'}>
                                    (<{$st.device|getName='tp_device',###,'sys_version'}>)<br>
                                    用途：<{$st.remark}>
                                </small>
                                <switch name="st.reject">
                                    <case value="1"><span class="badge"><{$st.moder|getZTUserName=###}>:<{$st.utime}></span></case>
                                    <case value="2"><span class="badge"><{$st.moder|getZTUserName=###}>:<{$st.utime}></span></case>
                                    <default />
                                </switch>

                                </li>
                            </volist>
                        </empty>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">历史<span class="badge pull-right">借用/归还时间</span></div>
            <ul class="list-group">
                <empty name="data2">
                    <li class="list-group-item"><small>目前，没有借用设备的历史记录</small></li>
                    <else />
                    <volist name='data2' id='st'>
                        <li class="list-group-item">
                            <span class="label label-default"><{$st.borrower|getZTUserName=###}></span>
                            <small>
                                <{$st.device|getName='tp_device',###,'brand'}>-
                                <{$st.device|getName='tp_device',###,'ts'}><{$st.device|getName='tp_device',###,'name'}>
                                (<{$st.device|getName='tp_device',###,'sys_version'}>)
                                用途：<{$st.remark}>
                            </small>
                            <span class="badge"><{$st.start_time}>/<{$st.end_time}></span>
                        </li>
                    </volist>
                </empty>
            </ul>
        </div>

    </div>
</div>