<layout name="layout"/>
<div class="admin-content">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" >
            <a href="__URL__/index">测试手机<span class="badge"><{$arr.id}></span></a>
        </li>
        <li role="presentation" class="active">
            <a href="__URL__/rules">移动设备管理规范<span class="badge"><{$arr.id}></span></a>
        </li>
    </ul>
    <div class="panel panel-default">
        <div class="panel-body">
            <p><{$data}></p>
        </div>
    </div>


</div>