<layout name="layout"/>
<!-- content start -->
<div class="admin-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">申诉列表
                    <div class="btn-group pull-right">
                        <a  href="__URL__/index" class=" btn btn-warning btn-xs">返回</a>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="__URL__/appeal">申诉中<span class="badge"><{$acount}></span></a></li>
                        <li role="presentation"><a href="__URL__/done">已完成<span class="badge"><{$dcount}></span></a></li>
                        <li role="presentation"><a href="__URL__/reject">已驳回 <span class="badge"><{$rcount}></span></a></li>
                    </ul>

                    <ul class="list-group">
                        <volist name='data' id='st' >
                            <li class="list-group-item" title="【<{$st.utime}>】<{$st.remark}>">
                                <div class="row">
                                    <div class="col-md-9">
                                        <small>
                                            <{$st.project|getPro=###}>--<{$st.rules|getName='tp_score_rules',###,'cate'}>--<{$st.rules|getName='tp_score_rules',###}>:
                                            【<{$st.user|getZTUserName=###}>】<{$st.content}>
                                        </small>

                                    </div>
                                    <div class="col-md-3">
                                        <form action="__URL__/update" method="post" class="form-horizontal" role="form">
                                            <input type="hidden" name="id" value="<{$st.id}>"/>
                                            <input type="hidden" name="status" value="2"/>
                                            <input type="hidden" name="table" value="tp_my_score"/>
                                            <switch name="st.type">
                                                <case value="1">+</case>
                                                <case value="2">-</case>
                                            </switch>
                                            <input type="text" class="input50" name="score" value="<{$st.score}>"/>
                                            <div class="btn-group" role="group" aria-label="...">
                                                <button type="submit" class="btn btn-success btn-sm">保存</button>
                                                <a href="__URL__/bohui/id/<{$st.id}>" type="button" class="btn btn-warning btn-sm">驳回</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </volist>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>