<layout name="layout"/>
<!-- content start -->
<div class="admin-content">
    <div class="panel panel-default">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="__URL__/index">手机<span class="badge">2/20</span></a>
            </li>
            <li role="presentation">
                <a href="__URL__/books">图书<span class="badge">3/20</span></a>
            </li>
        </ul>
        <div class="jumbotron">
            <h1 style="text-align:center"><{$Think.session.realname}></h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">借用中<span class="badge pull-right">预计归还时间</span></div>
                    <ul class="list-group">
                        <empty name="data0">
                            <li class="list-group-item">当前，没有借用中的设备</li>
                            <else />
                            <volist name='data0' id='st'>
                                <li class="list-group-item">
                                    <span class="label label-default"><{$st.type|book_history_status=###}></span>
                                    <{$st.device|getName='tp_device',###,'brand'}>-
                                    <{$st.device|getName='tp_device',###,'ts'}>
                                    (<{$st.device|getName='tp_device',###,'sys_version'}>)
                                    <a  href="#" class="btn btn-primary btn-xs">申请归还</a>
                                    <span class="badge"><{$st.end_time}></span>
                                </li>
                            </volist>
                        </empty>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">预订<span class="badge pull-right">借用时间</span></div>
                    <ul class="list-group">
                        <empty name="data1">
                            <li class="list-group-item">当前，没有预订中的设备</li>
                            <else />
                            <volist name='data1' id='st'>
                                <li class="list-group-item">
                                    <span class="label label-default"><{$st.type|book_history_status=###}></span>
                                    <{$st.device|getName='tp_device',###,'brand'}>-
                                    <{$st.device|getName='tp_device',###,'ts'}>
                                    (<{$st.device|getName='tp_device',###,'sys_version'}>)
                                    <a  href="__URL__/cancel/id/<{$st.id}>" class="btn btn-warning btn-xs"
                                        onclick="return confirm('你确定要取消这次预订吗？取消后数据不可恢复')">取消预订</a>
                                    <span class="badge"><{$st.start_time}></span>
                                </li>
                            </volist>
                        </empty>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">借用历史<span class="badge pull-right">借用/归还时间</span></div>
            <ul class="list-group">
                <empty name="data2">
                    <li class="list-group-item">目前，没有借用设备的历史记录</li>
                    <else />
                    <volist name='data2' id='st'>
                        <li class="list-group-item">
                            <span class="label label-default"><{$st.type|book_history_status=###}></span>
                            <{$st.device|getName='tp_device',###,'brand'}>-
                            <{$st.device|getName='tp_device',###,'ts'}>
                            (<{$st.device|getName='tp_device',###,'sys_version'}>)
                            <span class="badge"><{$st.start_time}>/<{$st.end_time}></span>
                        </li>
                    </volist>
                </empty>
            </ul>
        </div>


    </div>
</div>