<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>鑫泰汽车科技-图书&设备管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__CSS__/amazeui.min.css"/>
    <link rel="stylesheet" href="__CSS__/amazeui.admin.css">

</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar admin-header">
    <div class="am-topbar-brand"><strong>鑫泰汽车科技</strong>
        <small>图书&设备管理</small>
    </div>
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}">
        <span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
    </button>
    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="http://qc.zhidaoauto.com/zentao" target=_blank><span class="glyphicon glyphicon-link"></span> 访问禅道</a></li>
            <li><a href="__APP__/Report" target=_blank><span class="glyphicon glyphicon-link"></span> QC质量平台</a></li>
        </ul>
    </div>

</header>
<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar">
        <ul class="am-list admin-sidebar-list">
            <li><a href="__APP__/<{$Think.config.PRODUCT}>/Index"><span class="glyphicon glyphicon-book"> 设备&图书</span></a></li>
            <li><a href="__APP__/<{$Think.config.PRODUCT}>/Mine"><span class="glyphicon glyphicon-user"> 我的借用</span></a></li>
            <li><a href="__APP__/<{$Think.config.PRODUCT}>/Index/yuqi"><span class="glyphicon glyphicon-time"> 逾期记录</span></a></li>
            <li><a href="__APP__/<{$Think.config.PRODUCT}>/Manager"><span class="glyphicon glyphicon-cog"> 设备管理</span></a></li>

        </ul>
        <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    书非借不能读也。子不闻藏书者乎？
                    七略四库，天子之书，然天子读书者有几？
                    汗牛塞屋，富贵家之书，然富贵人读书者有几？
                    其他祖父积、子孙弃者无论焉。
                    非独书为然，天下物皆然。
                    非夫人之物而强假焉，必虑人逼取，
                    而惴惴焉摩玩之不已，
                    日‘今日存，明日去，吾不得而见之矣。’
                    若业为吾所有，必高束焉，庋藏焉，
                    曰‘姑俟异日观’云尔。—— 袁枚
                </p>


            </div>
        </div>



    </div>
    <!-- sidebar end -->
