<layout name="layout"/>
<!-- content start -->
<div class="admin-content">
    <div class="panel panel-default">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" >
                <a href="__URL__/index">手机<span class="badge"></span></a>
            </li>
            <li role="presentation" class="active">
                <a href="__URL__/books">图书<span class="badge"></span></a>
            </li>
        </ul>
        <div class="jumbotron">
            <h1 style="text-align:center"><{$Think.session.realname}></h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">借阅中
                        <span class="label label-default">预计归还时间</span>
                    </div>
                    <ul class="list-group">
                        <empty name="data0">
                            <li class="list-group-item"><small>当前，没有借阅中的图书</small></li>
                            <else />
                            <volist name='data0' id='st'>
                                <li class="list-group-item">
                                    <span class="label label-default"><{$st.end_time}></span>
                                    <small>
                                        <{$st.device|getName='tp_device',###,'brand'}>-
                                        <{$st.device|getName='tp_device',###,'ts'}>
                                        用途：<{$st.remark}>

                                    </small>
                                    <a  href="#" class="btn btn-primary btn-xs pull-right">续期</a>
                                </li>
                            </volist>
                        </empty>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">预订<span class="label label-default">借阅时间</span>设备</div>
                    <ul class="list-group">
                        <empty name="data1">
                            <li class="list-group-item"><small>当前，没有预订中的图书</small></li>
                            <else />
                            <volist name='data1' id='st'>

                                <switch name="st.reject">
                                    <case value="1">
                                        <li class="list-group-item list-group-item-warning">
                                            <span class="label label-warning">取消</span>
                                    </case>
                                    <case value="2">
                                        <li class="list-group-item list-group-item-danger">
                                            <span class="label label-danger">驳回</span>
                                    </case>
                                    <default />
                                    <li class="list-group-item">
                                        <span class="label label-info">正常</span>
                                </switch>
                                <span class="label label-default"><{$st.start_time}></span>
                                <small>
                                    <{$st.device|getName='tp_device',###,'brand'}>-
                                    <{$st.device|getName='tp_device',###,'ts'}>
                                    用途：<{$st.remark}>
                                </small>
                                <switch name="st.reject">
                                    <case value="1"><span class="badge"><{$st.moder|getZTUserName=###}>:<{$st.utime}></span></case>
                                    <case value="2"><span class="badge"><{$st.moder|getZTUserName=###}>:<{$st.utime}></span></case>
                                    <default />
                                    <a  href="__URL__/cancel/id/<{$st.id}>" class="btn btn-warning btn-xs pull-right"
                                        onclick="return confirm('你确定要取消这次预订吗？取消后数据不可恢复')">取消预订</a>
                                </switch>

                                </li>
                            </volist>
                        </empty>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">历史<span class="badge pull-right">借用/归还时间</span></div>
            <ul class="list-group">
                <empty name="data2">
                    <li class="list-group-item"><small>目前，没有借阅图书的历史记录</small></li>
                    <else />
                    <volist name='data2' id='st'>
                        <li class="list-group-item">
                            <small>
                                <{$st.device|getName='tp_device',###,'brand'}>-
                                <{$st.device|getName='tp_device',###,'ts'}>
                                (<{$st.device|getName='tp_device',###,'sys_version'}>)
                                用途：<{$st.remark}>
                            </small>
                            <span class="badge"><{$st.start_time}>/<{$st.end_time}></span>
                        </li>
                    </volist>
                </empty>
            </ul>
        </div>


    </div>
</div>