<layout name="layout"/>
<div class="admin-content">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" >
            <a href="__URL__/index">手机管理<span class="badge"><{$arr.id}></span></a>
        </li>
        <li role="presentation" class="active">
            <a href="__URL__/books">图书管理<span class="badge"><{$arr.id}></span></a>
        </li>
        <li role="presentation" >
            <a href="__URL__/yuding">预订<span class="badge"><{$arr.id}></span></a>
        </li>
        <li role="presentation">
            <a href="__URL__/guihuan">归还<span class="badge"><{$arr.id}></span></a>
        </li>
    </ul>


</div>